<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 設定探查路徑，讓程式在 lib 資料夾中搜尋 DLL -->
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
</configuration>
